__pycache__/
.direnv/
.idea/
.installed.cfg
.mr.developer.cfg
.netrc
.meta-*
.mypy_cache/
.ipynb_checkpoints/
*.pyc
*.egg-info
*.tar.gz
.coverage
.cache
.cache/
env
build
build/
target/
netrc
result
*.iml
*.swp
