aiohttp
fastapi==0.61.2
pydantic
starlette==0.13.6
ujson
uvicorn
uvloop
#
idna==2.8
#
coverage
pytest
pytest-aiohttp
pytest-cov
pytest-mock
pytest-runner
#
datamodel-code-generator
email-validator
importlib-metadata==2.0.0
#
black==19.10b0
eradicate
isort==5.6.4
mypy
pycodestyle
pyflakes
pylama
pylint
